/*Background*/
body {
  background-image: url("https://cdna.artstation.com/p/assets/covers/images/000/725/424/large/kieran-belshaw-inn-at-the-vale-v004bweb.jpg?1431604896");
}

/*White Text*/
p {
  color: white;
}

/*Button Styling*/

/*Game Buttons*/

/*New Game*/
.newGame {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/*Hit*/
.hit {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/*Stay*/
.stay {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/*Back Button*/
.back {
  background-color: #e7e7e7; color: black;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}